<!DOCTYPE html> 
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Children Daycare</title>
        <!--Any stylesheets need to go here-->

    </head>

    <body>
        <div class="flex-column justify-space-around">
            <header class="display-flex justify-space-between align-center p-2">
                <h3>
                    <a href="/">Hello There!</a>
                </h3>
                <p>
                    Please log in or sign up to continue
                </p>
            </header>
            <main class="container container-fluid mt-5">
                {{{ body }}}
            </main>
        </div>
    </body>
</html>