{{#each children as |child| }}
<div class="row mb-4 child">
    <div class="col-md-5">
        <h2>Children Daycare</h2>
        <p>Welcome user! Please log in or sign up to continue</p>
    </div>
</div>
{{/each}}