<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{ name }}</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>You are now logged in</h3>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <button type="submit" class="btn btn-success">Logout</button>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary">View Profile</button>
    </div>
</div>

<div class="row mb-2">
    <h4>You have been active since July 2023</h4>
</div>