<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{ name }}</h2>
    </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Add a New Game:</h3>

    <form class="form new-game-list">
      <div class="form-group">
        <label for="game-name">Game Name:</label>
        <input class="form-input" type="text" id="game-name" name="game-name" />
      </div>
      <div class="form-group">
        <label for="genre">Genre:</label>
        <input class="form-input" type="text" id="genre" name="genre" />
      </div>
      <div class="form-group">
        <label for="weeks-playing-for">How Many Weeks Do You Want To Play?:</label>
        <input class="form-input" type="number" id="weeks-playing-for" name="weeks-playing-for"></input>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>

    {{#if game.length}}
  <div class="col-md-6 game-list">
    <h3>Current Game Playlist:</h3>

    {{#each games as |game|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/game/{{game.id}}">{{game.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button type="click" class="btn btn-sm btn-danger" data-id="{{game.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
