<!DOCTYPE html> 
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Children Daycare</title>
        <!--Any stylesheets need to go here-->

    </head>

    <body>
       <h2>Liste of my most loved League champions</h2>
        <ul>
            <li class="midlaner">Leblanc</li>
            <li class="midlaner">Lux</li>
            <li class="toplaner">Teemo</li>
            <li class="midlaner">Kassadin</li>
            <li class="toplaner">Jarvan IV</li>
        </ul>

    <!--JS logout page link goes here-->
    </body>
</html>